{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Favicon File -->
        <link rel="shortcut icon" type="image/jpg" href="#">
        <title>Travel guide</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,500i,700&display=swap" rel="stylesheet">
        <link rel="stylesheet"  href="{% static 'css/custom.css' %}" type="text/css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>  
        <script src="https://kit.fontawesome.com/100df6bf4a.js" crossorigin="anonymous"></script>
        
        {% block head_js %}     <!--JavaScript in checkout.html. Will only be injected in base.html, when clicking on Checkout--> 
        {% endblock head_js %}
    </head>


    <body>
        <div id="page-container" class="container-fluid">
            <div id="main">        
                <header>
                    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #3AAFA9;">
                        <!--collapsable menu-->
                        <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="{% url 'index' %}"><img src="/media/img/logo.jpg" alt="Logo Travel App"></a>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}"><span class="menu-item">Home</span></a>
                            </li>
                            {% if user.is_authenticated %}
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'touroperator' %}"><span class="menu-item">My Profile</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'logout' %}"><span class="menu-item">Logout</span></a> 
                                </li>
                            {% else %}    
                            <!--Menu items showing if the user is not logged in-->
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'registration' %}"><span class="menu-item">Register</span></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'index' %}"><span class="menu-item">Login</span></a>
                            </li>
                             {% endif %} 
                            </ul>
                        </div>
                    </nav>
                </header>
                                          

  
                <!--Welcome message if user is logged in. If not, advice user to log in-->
                <article>
                
                <br>
                    <div class="alert alert-info alert-center col-10">  
                        <p class="login-message">
                            <strong><em>
                                {% if user.is_authenticated %}
                                Welcome {{ user }}!
                                {% else %}
{#  #}                          <a href="{% url 'index' %}" class="login-message">Please log in for a better experience!</a> 
                                {% endif %}
                            </em></strong
                        ></p>
                    </div>
                </article>

                {% block content %}
                <!--The other templates are shown here-->
                {% endblock %}
            </div>
            <footer id="footer">
                <hr class="footer-line">
                <p class="text-center footer-text">
                    <a href="#" target="_blank" class="link-green">Created by Lenting!, Mo! & Tift!</a><br>
                    follow us:
                    <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-youtube"></i></a>
                    <br>
                </p>
            </footer>
                    
        <script src="{% static 'js/script.js' %}" type="text/javascript"></script> 

        <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJw3iwRzBB2I2_6lpkCr-mwKoWrEZetPM&callback=initMap"></script>
        <script src="{% static 'js/maps.js' %}" type="text/javascript"></script>
        </div>  
    </body>
</html>